*{
    margin: 0px;
    padding: 0px;
}

.brand img{
    height: 50px;
    margin: 20px;
}

nav{
    background-color:white;
    box-shadow: 1px 1px 5px black;
}

.nav-link{
    color: rgb(0, 0, 0) !important;
    font-size: 18px;
    text-decoration: none;
    display: inline;
    margin-left: 12px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    bottom: 37px;
}

.nav-item{
    display: inline;
}

.loader {
    width: 100px;
    height: 30px;
    display: flex;
    margin-top: 300px;
}

.loader:before,
.loader:after {
    content: "";
    flex: 1;
    margin: 0 5px;
    background: #ffffff;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: l3 .5s infinite alternate;
}
.loader:after {
    --s:-1;
}

@keyframes l3 {
    0%  {transform: scaleX(var(--s,1)) translate(-4px)}
    100%{transform: scaleX(var(--s,1)) translate( 4px)}
}

.close{
    background:none;
    color: white;
    border: none;
    font-size: 17px;
    text-align: left !important;
    justify-content: left !important;
}

.loader-main{
    background-color: #000000;
    z-index: 100;
    width: 100%;
    height: 100vh;
    bottom:0px;
    position: fixed;
}
@media(max-width:700px){
    .loader{
        margin-top: 270px;
    }
}

.burger-list{
    height: 340px;
    background-color: black;
    color: white;
    width: 200px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    top:90px;
    border-radius: 5px;
    text-align:center;
    font-size: 20px;
}

#br{
    display: none;
}

.burger-link{
    text-decoration: none !important;
    color: white !important;
    margin-top: 12px;
}

.inline{
    display: inline-block;
}

.burger-btn{
    background: none;
    color: black;
    font-size: 35px;
    border: none;
    float: right;
    position: relative;
    right: 20px;
    top: 26px;
    cursor: pointer;
}

.team-card{
    border: 1px solid black;
    border-radius:5px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
}

.team-title{
    font-size: 70px;
    width: 500px;
    font-family: "Montserrat", sans-serif;
}

.input{
    background-color: white;
    box-shadow: 1px 1px 15px black;
    height: 500px;
    border-radius: 16px;
    width:900px;
    position: relative;
    top:10px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
}

.input h1{
    color: #000000;
    margin-left: 23px;
    margin-top: 17px;
}

.content{
    z-index: 3;
}

.o-in{
    height: 30px;
    margin-left: 23px;
}

.margin{
    margin-left: 23px;
    color:#000000;
}

#country{
    color: black;;
}

.nav-item{
    display: inline-block;
}

.nav-link{
    color: #ffffd9;
    text-decoration: none;
}

#go-back{
    color: #ffffff;
    background-color: #000000;
    width: 25px;
    height: 25px;
    border-radius: 90px;
    border: none;
    position: fixed;
    top: 10px;
    cursor: pointer;
    text-decoration: none;
    left: 10px;
}

.submit{
    margin-left: 23px;
    background-color: #000000;
    color: #ffffff;
    width: 140px;
    border: none;
    height: 24px;
    transition: 0.7s;
    border-radius: 90px;
    cursor: pointer;
    z-index: 90;
}

.submit:hover{
    background: none;
    border: 1px solid #000000;
    color: black;
}

#particles-js{
    background-color: #393e41;
    width: 100%;
    height: 100vh;
    z-index: -5;
}

.n{
    margin-left: 23px;
    color: #ffffd9;
}

#day-show{
    background-color: #f6f7eb;
    color: #2a2e30;
    border-radius: 90px;
    width: 25px;
    height: 25px;
    border: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;

}

.n{
    display: none;
}

.team-text{
    color: black;
    text-align: center;
    padding-bottom: 20px;
}

.team-img img{
    height: 200px;
    padding: 5px;
    border-radius: 5px;
}

body{
    background-color: white;
}

.main-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url("./img/main\ img.webp");
    background-size: cover;
    background-repeat:no-repeat;
    border-radius: 0%  0% 30% 30%;
    padding: 120px;
    color: white;
    border-bottom: #000000 solid 2px;
}

.black-font{
    color: white !important;
}

.up{
    background-color:black;
    color: white;
    position: fixed;
    bottom:10px;
    display: none;
    right:10px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.projects-main{
    margin-top: 40px;
}

.w{
    background-color: #000000;
    position: fixed;
    left: 10px;
    bottom: 10px;
    height: 40px;
    width: 40px;
    border-radius:190px;
    z-index: 9;
    color: white;
    font-size: 25px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

#b-btn{
    display: none;
}

.projects-img img{
    height: 300px;
}

.filter-btn{
    background: none;
    border: 2px solid black;
    padding: 10px;
    color: black;
    display: inline-block;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

body{
    height: 2000px;
}

.dark-mode{
    color: white !important;
    background-color: black !important;
}

.black{
    background-color: black !important;
    color: white !important;
}

.normal{
    background-color: white;
}

.card-btn{
    color: white;
    background-color: black;
    padding: 10px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    transition: 0.7s;
}

.card-btn:hover{
    color: black;
    border: 2px solid black;
    background: none;
    padding: 8px;
}

.card-more{
    border: 2px solid black;
    color: black;
    padding: 8px;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    transition: 0.7s  ease;
}

.card-text h2{
    font-family: "Montserrat", sans-serif;
    margin-top: 8px;
}

.card-text p{
    font-family: "Roboto", sans-serif;
}

.card-more:hover{
    border-style: dashed;
}

.buttons{
    margin-top: 60px;
}

.dark{
    background: none;
    border: none;
    cursor: pointer;
}

.service-card{
    border-radius: 0px 0px 19px 19px;
    box-shadow: 1px 1px 15px black;
    width: 280px;
    border-bottom: #000000 solid 4px;
    margin-left: 30px;
    height: 280px;
}

.icon-card{
    background-color: black;
    color: white;
    font-size: 40px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

footer{
    background:linear-gradient(#232628,#393e41);
    color: white;
    font-family: "Rubik", sans-serif;
    text-align: center;
}

.rights-web{
    background-color: #f6f7eb;
    color: #2a2e30;
}

.site-details{
    text-align: center;
}

.email-contact h3{
    background-color: #f6f7eb;
    color: #232628;
    padding: 14px 24px;
    width: auto;
    width: 30%;
    border-radius: 6px;
    text-align: center;
}

.footer-icon{
    color: #f6f7eb;
    font-size: 30px;
}

::selection{
    color: white;
    background-color: #000000;
}

@media (max-width:1023px){
    .nav-item{
        display: none;
    }

    #b-btn{
        display: block;
    }

    .email-contact h3{
        background-color: #f6f7eb;
        color: #232628;
        padding: 14px 24px;
        width: auto;
        width: 60%;
        font-size: 17px;
        border-radius: 6px;
        text-align: center;
    }

    .service-card{
        margin-left: 0px;
        margin-top: 20px;
    }

    .team-card{
        margin-top: 20px;
    }

    .main-bg{
        border-radius: 0% 0% 5% 5%;
    }
}
@media (max-width:1023px){
    .input{
        width: 300px;
    }

    .team-title{
        font-size: 40px;
        width: 300px;
        font-family: "Montserrat", sans-serif;
    }

    body::after{
        z-index: -1;
    }
}