*{
    margin: 0px;
    padding: 0px;
}

.brand img{
    height: 50px;
    margin: 20px;
}

nav{
    background-color:white;
    box-shadow: 1px 1px 5px black;
}

.nav-link{
    color: rgb(0, 0, 0) !important;
    font-size: 18px;
    text-decoration: none;
    display: inline;
    margin-left: 12px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    bottom: 37px;
}

.main-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url("../img/main\ img.webp");
    background-size: cover;
    background-repeat:no-repeat;
    border-radius: 0%  0% 100% 100%;
    padding: 120px;
    color: white;
    border-bottom: #000000 solid 2px;
}

.nav-item{
    display: inline;
}

#br{
    display: none;
}

.burger-link{
    text-decoration: none !important;
    color: white !important;
}

.inline{
    display: inline-block;
}

.burger-btn{
    background: none;
    color: black;
    font-size: 35px;
    border: none;
    float: right;
    position: relative;
    right: 20px;
    top: 26px;
    cursor: pointer;
}

.service-card{
    border-radius: 0px 0px 19px 19px;
    box-shadow: 1px 1px 15px black;
    width: 280px;
    border-bottom: #000000 solid 4px;
    margin-left: 30px;
    height: 280px;
}

.icon-card{
    background-color: black;
    color: white;
    font-size: 40px !important;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

#b-btn{
    display: none;
}

.burger-list{
    height: 340px;
    background-color: black;
    color: white;
    width: 200px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    top:90px;
    border-radius: 5px;
    text-align:center;
    font-size: 20px;
}

.close{
    background:none;
    color: white;
    border: none;
    font-size: 17px;
    text-align: left !important;
    justify-content: left !important;
}

@media (max-width:1023px){
    .nav-item{
        display: none;
    }

    #b-btn{
        display: block;
    }

    .email-contact h3{
        background-color: #f6f7eb;
        color: #232628;
        padding: 14px 24px;
        width: auto;
        width: 60%;
        font-size: 17px;
        border-radius: 6px;
        text-align: center;
    }

    .service-card{
        margin-left: 0px;
        margin-top: 20px;
    }

    .team-card{
        margin-top: 20px;
    }

    .main-bg{
        border-radius: 0% 0% 5% 5%;
    }
}

.card-btn{
    color: white;
    background-color: black;
    padding: 10px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    transition: 0.7s;
}

.card-btn:hover{
    color: black;
    border: 2px solid black;
    background: none;
    padding: 8px;
}

.card-more{
    border: 2px solid black;
    color: black;
    padding: 8px;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    transition: 0.7s  ease;
}

.card-text h2{
    font-family: "Montserrat", sans-serif;
    margin-top: 8px;
}

.card-text p{
    font-family: "Roboto", sans-serif;
}

.card-more:hover{
    border-style: dashed;
}

.buttons{
    margin-top: 60px;
}